@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.skill-container {
  font-family: 'Poppins', sans-serif;
}

.card {
  max-width: 800px;
  width: 100%;
  border-radius: 12px;
  background: #adc3da;
}

.list-group-item {
  border: none;
  background: #fff;
  padding: 8px;
  font-weight: 500;
}

.text-dark {
  font-weight: 600;
}
