.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 2rem;
}

.main-section {
  background: linear-gradient(to right,rgb(165, 191, 217), #e9ecef);
  border-radius:10px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.left-side {
  flex: 1;
  min-width: 300px;
}

.right-side {
  flex: 2;
  min-width: 300px;
}

@media (max-width: 768px) {
  .main-section {
    flex-direction: column;
  }
  
  .left-side,
  .right-side {
    width: 100%;
  }
}